/* src/Components/StudentRegistration.css */

.student-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.student-form form {
  display: flex;
  flex-direction: column;
}

.student-form .form-section {
  margin-bottom: 20px;
}

.form-section h1{
  font-size: 18px;
  font-weight: 500;
}

.student-form input,
.student-form select,
.student-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.student-form input[type="file"] {
  padding: 5px;
}

.student-form hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-bottom: 20px;
}

.student-form .form-buttons {
  display: flex;
  justify-content: flex-end;
}

.student-form .form-buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.student-form .form-buttons button[type="reset"] {
  background-color: #6c757d;
}

.student-form .form-buttons button[type="submit"] {
  background-color: #0056b3;
}
