/* src/Pages/AdminPage.css */

.admin-page {
    display: flex;
    width: 100%;
    background-color: #d6e2f9;
    min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
}
  
.content {
    margin-left: 250px; /* Same width as the sidebar */
    margin-right: 70px;
    padding: 20px;
    width: 100%; /* Ensure content takes up the remaining space */
    box-sizing: border-box;
    background-color: #d6e2f9; /* This will fill the content area with antiquewhite */
}

.content h1 {
    margin-top: 0;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.summary-card {
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 20px;
    height: 30vh;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    align-content: center;
    text-align: center;
}

.summary-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.main-title {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(84, 93, 184);
}

.sub-title {
    font-size: 1em;
    color: gray;
    margin-left: 5px; /* Add space between the main title and the sub title */
}

.summary-number {
    font-size: 2em;
    font-weight: bold;
}
