.login-page {
  display: flex;
  min-height: 100vh;
  background: #d6e2f9;
  color: #fff;
}

.left-column {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-column h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #042357;
}

.left-column h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.left-column p {
  font-size: 16px;
  line-height: 1.5;
  color: #666978;
}

.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-window {
  width: 500px;
  padding: 50px;
  background: #ffffff;
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.login-window h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.user-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.user-type label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6e2f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0b63fa;
  color: rgb(83, 81, 81);
}

.login-window label {
  display: block;
  margin-bottom: 15px;
  text-align: left;
}

.login-window input[type="text"],
.login-window input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #0b63fa;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 10px;
}

.login-window button {
  width: 20%;
  padding: 10px;
  background-color: #042357;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-window button:hover {
  background-color: #0056b3;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #2575fc;
  text-decoration: none;
}
