/* src/Components/Dashboard/Dashboard.css */

.dashboard {
  display: flex;
  flex-direction: column;
  width: 250px; /* Adjust the width as needed */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
  margin-bottom: 10px;
}

.dashboard-item:hover {
  background-color: #f8f9fa;
}

.dashboard-item.active {
  height: 8vh;
  background-color: #d6e2f9; /* Highlight color for the active link */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: rgb(12, 12, 114);
  font-size: 20px;
  font-weight: bold; /* Optional: Make the text bold */
}

.icon {
  width: 20px;
  height: 20px;
}
