.stl-staff-list {
    padding: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
    background-color: #2B3499;
  }
  
  .stl-window-search {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stl-window {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stl-search-bar {
    display: flex;
    align-items: center;
  }
  
  .stl-search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  .stl-search-button {
    background-color: #f9f9f9;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
  }
  
  .stl-search-img {
    width: 20px;
    height: 20px;
  }
  
  .stl-staff-table {
    width: 100%;
  }
  
  .stl-staff-table table {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #cccccc;
  }
  
  .stl-staff-table th, .stl-staff-table td {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #cccccc;
  }
  
  .stl-staff-table th {
    background-color: #E4F1FF;
    border: 1px solid #cccccc;
  }
  
  .stl-staff-table td {
    text-align: center;
  }
  