.tl-teacher-list {
    padding: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
    background-color: #2B3499;
}

.tl-window-search {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tl-window {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tl-search-bar {
    display: flex;
    align-items: center;
}

.tl-search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.tl-search-button {
    background-color: #f9f9f9;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.tl-search-button img {
    width: 20px;
    height: 20px;
    justify-self: center;
}

.tl-window-filter {
    margin-bottom: 20px;
    width: 180px;
    background: linear-gradient(180deg, #eef1f6, rgb(224, 228, 243));
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tl-filters {
    display: flex;
    gap: 10px;
}

.tl-filter-group {
    display: flex;
    flex-direction: column;
}

.tl-filters select {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
}

.tl-teacher-table {
    width: 100%;
}

.tl-teacher-table table {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #cccccc;
}

.tl-teacher-table th, .tl-teacher-table td {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #cccccc;
}

.tl-teacher-table th {
    background-color: #E4F1FF;
    border: 1px solid #cccccc;
}

.tl-teacher-table td {
    text-align: center;
}
